<div class="card">
  <h5 class="card-header">Friends App</h5>
  <div class="card-body">
    <h5 class="card-title">Friends App is an Open Source Application!</h5>
    <p class="card-text">It is designed to explore and illustrate the possiblity of combining the popular front-end framework, React, with Ruby on Rails.</p>
    <a href="/friends" class="btn btn-dark">Go To Friends</a>
  </div>
</div>

