<div class="card">
  <h5 class="card-header">Friends App</h5>
  <div class="card-body">
    <h5 class="card-title">Friends App is an Open Source Application!</h5>
    <p class="card-text">It is designed to explore and illustrate the possiblity of combining the popular front-end framework, React, with Ruby on Rails.</p>
    <a target="_blank" href="https://github.com/jaymemizelle/rails-friends" class="btn btn-dark">View the Code</a>
  </div>
</div>

