<div class="alert alert-dark alert-dismissible fade show" role="alert">
  <%= notice %>
  <i type="button" class="close" style="float: right;" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </i>
</div>

<style>
  .display-none {
    display: none;
  }
</style>

<script>
  const closeButton = document.querySelector('.close');
  closeButton.addEventListener('click', function() {
  document.querySelector('.alert').setAttribute('style', 'display: none');
  });
</script>